name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  checkprogram:
    name: Check program
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Checking program for errors
        run: shellcheck main.sh
